{erl_opts, [debug_info]}.

{deps, [
    {brod, "3.16.0"},
    {kafka_protocol, "4.3.4"},
    {supervisor3, "1.1.12"},
    {crc32cer, "0.1.5"},
    {snappyer, "1.2.10"},
    {pc, "1.15.0"}
]}.

{profiles, [
    {test, [{erl_opts, [nowarn_export_all]}]},
    {prod, []}
]}.

{shell, [
    {apps, [kafka_demo]},
    {config, "config/sys.config"}
]}.

{project_apps, [kafka_demo]}.

{eunit_compile_opts, []}.