[
 {brod, [
    {auto_start_client, true},
    {default_client_id, my_kafka_client},
    {clients, [
        {my_kafka_client, [
            {endpoints, [{"localhost", 9092}]},
            {reconnect_cool_down_seconds, 10}
        ]}
    ]}
 ]},
 {kafka_demo, [
    {kafka_hosts, [{"localhost", 9092}]},
    {client_id, my_kafka_client},
    {topic, <<"my-test-topic">>},
    {consumer_group, <<"kafka-demo-group">>},
    {begin_offset, earliest},
    {test_mode, true}
 ]},
 {logger, [
    {handler, default, logger_std_h, #{level => info}},
    {level, info}
 ]},
 {sasl, [
    {sasl_error_logger, {file, "log/sasl-error.log"}},
    {errlog_type, error},
    {error_logger_mf_dir, "log/sasl"},
    {error_logger_mf_maxbytes, 10485760},
    {error_logger_mf_maxfiles, 5}
 ]}
].